<div class="hero-unit">
  <h1>Welcome</h1>
  <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
  <p><a class="btn btn-primary btn-large">Learn more »</a></p>
</div>
<div class="row-fluid">
<% @videos.each do |video| %>
  <div class="span4">
    <h2><%= video.title %></h2>
    <p><%= video.description %></p>
    <p><a class="btn btn-success" href="/play/<%= video.videoid %>">Play Video<i class="icon-play"></i></a></p>
  </div><!--/span-->
<% end %>
</div><!--/row-->


